.pasos{
    background-image: url(../img/back.png);
    background-size: cover;
    height: 450px;
    text-align: center;
    padding-top: 30px;
}

.texto{
    width: 400px;
    display: inline-block;
    background-color: none;
    color:white;
    font-size: 18px;
}

.imagenes{
    width: 400px;
    display: inline-block;
    background-color: none;
}

.botones{
    padding-top: 30px;
}